<div class="local">
  <div class="container">
    <h2 class="display-6 text-center py-4">Admin page</h2>

    
  </div>

  <!-- NAV -->
  <div class="container bg-info p-2">
    <nav class="nav nav-pills nav-justified align-items-center">
      <a class="nav-item nav-link active" href="/local"> Home</a>
      <a class="nav-item nav-link text-white" href="/local/activities">Activities</a>
      <a class="nav-item nav-link text-white" href="/local/search-user">User</a>
      <a class="nav-item nav-link text-white" href="/local/set-forex">Forex</a>
    </nav>
  </div>
</div>
