<div class="Reset_password">
  <!-- Include partial -->
  <%- include ('../partials/messages') %>

  <div class="">
    <form action="/reset-pasword" method="post" class="form px-4 py-2">
      <div class="form__head">
        <h4 class="text-center py-2">Reset password</h4>
      </div>
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          placeholder="Email"
          name="email"
        />
      </div>

      <div class="form-group d-flex justify-content-center">
        <input type="submit" value="Reset" class="btn btn-outline-primary" />
      </div>

      <div class="text-center text-white text_sm">
        <span> <a href="/signin" class="text-warning">Login</a></span>
      </div>
    </form>
  </div>
</div>
